body {
    overflow: hidden;
}
div {
    font-family: sans-serif;
}
img {
    -webkit-user-drag: none;
}

.largeButton {
    width: 268px;
    height: 32px;
    margin: 16px 16px;
    margin-bottom: 0px;
    font: 12px sans-serif;
    font-weight: bolder;
    border: 4px outset darkgray;
    cursor: pointer;
}
.largeButton:active {
    border-style: inset;
}

#banner1 {
    position: absolute;
    top: 16px;
    left: 16px;
    height: 80px;
    image-rendering: pixelated;
}
#banner2 {
    position: absolute;
    top: 16px;
    left: 336px;
    height: 80px;
    image-rendering: pixelated;
}

#upload {
    position: absolute;
    top: 104px;
    left: 0px;
}
#capture {
    position: absolute;
    top: 152px;
    left: 0px;
}
#darkModeLabel {
    position: absolute;
    font: 16px sans-serif;
    font-weight: bolder;
    top: 124px;
    left: 300px;
}
#darkMode {
    position: absolute;
    top: 124px;
    left: 390px;
}
#canvas {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    aspect-ratio: 1088 / 308;
    border-top: 2px solid black;
}
#table {
    position: absolute;
    left: 0px;
    top: 220px;
    font: 14px sans-serif;
    font-weight: bolder;
}
#table input {
    border: 2px solid black;
    width: 50px;
}