body {
    overflow: hidden;
}
div {
    font-family: sans-serif;
}
img {
    -webkit-user-drag: none;
    image-rendering: pixelated;
}

.largeButton {
    width: 268px;
    height: 32px;
    margin: 16px 16px;
    margin-bottom: 0px;
    font: 12px sans-serif;
    font-weight: bolder;
    border: 4px outset darkgray;
    cursor: pointer;
}
.largeButton:active {
    border-style: inset;
}

#leftPane {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(calc(100vw - min(80vw, 100vh)) - 4px);
    height: 100vh;
    container-type: size;
    border-right: 4px solid grey;
}
#rightPane {
    position: absolute;
    top: 0px;
    right: 0px;
    width: min(80vw, 100vh);
    height: 100vh;
    background-color: #444;
}

#logo {
    display: inline-block;
    width: min(81px, calc(20vw - 16px));
    margin: 8px;
}
#banner {
    display: inline-block;
    height: 81px;
    margin-bottom: 8px;
}
@container (max-width: 508px) {
    #banner {
        display: none;
    }
}

#log {
    display: grid;
    min-height: 20vh;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    background-color: white;
    font-size: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.logBlock {
    background-color: lightgray;
    padding: 4px 16px;
    margin-top: 6px;
    margin-bottom: 2px;
}
.connectNow {
    width: 20%;
    height: 24px;
    margin-left: 16px;
    font: 12px sans-serif;
    font-weight: bolder;
    border: 4px outset crimson;
    background-color: red;
    cursor: pointer;
}

#display {
    display: grid;
    container-type: size;
}
#display0, #display1 {
    position: relative;
    background-color: black;
    aspect-ratio: 136 / 77;
}
#display0Img, #display1Img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    aspect-ratio: 136 / 77;
    border: none;
}
#display0Overlay, #display1Overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
@container (max-width: 25vw) {
    /* vertical layout */
}

#dropdown {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    background-color: lightgray;
    transition: 200ms ease transform;
    transform: translateY(-100%);
    --tabImage: url(./assets/arrow-down.svg)
}
#dropdownTab {
    position: absolute;
    bottom: -28px;
    left: 50%;
    width: 24px;
    height: 24px;
    background-color: lightgray;
    border: 4px solid black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-image: var(--tabImage);
    transform: translateX(-50%);
    cursor: pointer;
}
#dropdownTabCheckbox {
    opacity: 0;
    cursor: pointer;
}
#dropdownTabCheckbox:checked ~ #dropdown {
    transform: translateY(0);
    --tabImage: url(./assets/arrow-up.svg);
}

#map {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: min(80vw, 100vh);
    height: min(80vw, 100vh);
    background-color: black;
}

#filterAdjust {
    width: calc(100% - 40px);
    padding: 16px;
    padding-bottom: 0px;
    border: 4px solid black;
}
#filterAdjustSliders {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto 1fr;
    grid-template-rows: repeat(6, 24px);
}
#filterAdjustIndicators {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, 24px);
    grid-auto-flow: column;
}
.slider {
    appearance: none;
    height: 10px;
    background-color: lightgray;
    border: 2px solid black;
    margin-right: 8px;
}
.slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    cursor: grab;
}
.slider::-webkit-slider-thumb:active {
    cursor: grabbing;
}
.sliderH::-webkit-slider-thumb {
    background-color: hsl(var(--hue), 100%, 50%);
}
.sliderS::-webkit-slider-thumb {
    background-color: hsl(var(--hue), var(--saturation), 50%);
}
.sliderV::-webkit-slider-thumb {
    background-color: hsl(var(--hue), var(--saturation), var(--value));
}